@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111111;
    font-family: 'Sono', sans-serif;
}

input {
    padding: 0.1em;
    font-size: 1.2rem;
    width: 20%;
}

.dollar-sign {
    font-size: 1.5rem;
}

.main-container {
    width: 50%;
    height: 80%;
    border-radius: 10px;
    border-width: 1px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2e2e2e;
}

.salary-style {
    width: 80%;
    height: 10%;
    border-radius: 10px;
    border-width: 1px;
    margin: 50px auto 0 auto;
    padding: 1em;
    background-color: #111111;
    color: #fff;
    text-align: center;
}